{var $robots = noindex}

{block content}

<h1 n:block="Přihlásit se">Přihlašte se</h1>
<a n:href="Sign:up">Zaregistrovat se</a>

<h2><a href="{$fbUrl}">Facebook</a></h2>

<h2>Mail a heslo</h2>

{control signInForm}
